#sf_admin_container h1{
    display: none;
}
.sf_admin_list table{
    text-align: center;
    width: 100%;
}
.sf_admin_list table thead tr th{
    text-align: center;
}
.sf_admin_list table tbody tr{
    border-bottom: 1px solid #f4f4f4;
}
.sf_admin_list table tbody tr:nth-child(n){
    background-color: #ffffff;
}
.sf_admin_list table tbody tr:nth-child(2n){
    background-color: #f9f9f9;
}
.sf_admin_list table tbody tr td ul{
    margin: 0;
    padding: 0;
}
.sf_admin_list table tbody tr td ul li{
    list-style: none;
    margin-top: 3px;
    margin-bottom: 3px;
}


/*后台用户里面的 编辑用户页面*/

.table-striped .J_tree_table{
    width: 100%;
    /*background-color: red;*/
}
.table-striped .J_tree_table thead{
    height: 32px;
    line-height: 32px;
    border-top: 2px solid #666666;
    border-bottom: 1px solid #666666;
}
.table-striped .J_tree_table thead tr th{
    text-align: center;
}
.table-striped .J_tree_table tbody tr{
    border-bottom: 1px solid #f4f4f4;
    height: 32px;
    line-height: 32px;
}
.table-striped .J_tree_table tbody tr:nth-child(n){
    background-color: #ffffff;
}
.table-striped .J_tree_table tbody tr:nth-child(2n){
    background-color: #f9f9f9;
}
.table-striped .J_tree_table tbody tr td{
    text-align: center;
}
.table-striped .J_tree_table tbody tr td:nth-child(3){
    text-align: left;
    padding-left: 10px;
}
.table-striped .J_tree_table tbody tr td input{
    width: auto;
    height: 24px;
    text-align: center;
}
/*后台菜单管理 底部部分*/
.form-horizontal .form-item {
    text-align: right;
}
.fR{
    float: right;
    margin-top: 10px;
}

/*权限设置部分*/
.content .cf{
    display: none;
}
.content .tab-wrap .tab-content .in{
    display: block;
}


/*添加管理菜单页面,添加子*/
.form-horizontal .form-item{
    text-align: center;
    display: inline-block;
}
/*添加子集权限按钮样式*/
.form-horizontal .mb10{
    margin-top: 30px;
    display: block;
}
.form-horizontal .ml90{
    float: right;
}
.form-horizontal .pB10{
    display: block;
    margin-top: 30px;
}
/*添加子集权限样式*/
.form-horizontal .form-item .controls .child_access_box .child_access .child_access_title div{
    width: 160px;
    display: inline-block;
    text-align: center;
}
.form-horizontal .form-item .controls .child_access_box .child_access #child_access_item_box .child_access_item .child_access_close{
    margin-top: 0;
    text-align: center;
    float: none;
    margin-left: 30px;
}



/*批量添加菜单样式*/
.form-horizontal .clearfix .menu_adds_ul{
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #666666;
}
.form-horizontal .clearfix .menu_adds_ul li{
    width: 10%;
    display: inline-block;
    text-align: center;
}
.form-horizontal .clearfix .menu_adds_ul li select{
    width: 114px;
}
.form-horizontal .clearfix .menu_adds_ul li label{

    width: 114px;
}
.form-horizontal .clearfix .menu_adds_ul li input{
    width: 114px;
}



/*后台用户组   权限设置 下面的添加角色*/

/*底部按钮部分*/
.content #sf_admin_content .sf_admin_form form .sf_admin_actions{
    text-align: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 40px;
}
.content #sf_admin_content .sf_admin_form form .sf_admin_actions li{
    width: auto;
    display: inline-block;
    margin-left: 10px;
}
/*主题部分*/
.content #sf_admin_content .sf_admin_form form #sf_fieldset_none .sf_admin_form_row{
    vertical-align: top;
    /*display: inline-block;*/
    /*width: 16%;*/
    margin:0;
    padding:0;
    height: auto;
}
.content #sf_admin_content .sf_admin_form form #sf_fieldset_none .sf_admin_form_row div label{
    margin-left: 30px;
    display: inline-block;
    width: 8%;
    vertical-align: top;
    padding: 15px;
}
.content #sf_admin_content .sf_admin_form form #sf_fieldset_none .sf_admin_form_row div .help{
    margin-left: 30px;
}
/*.content #sf_admin_content .sf_admin_form form #sf_fieldset_none .sf_admin_form_row div .content{*/
    /*display: inline-block;*/
/*}*/
.content #sf_admin_content .sf_admin_form form #sf_fieldset_none .sf_admin_form_row div .content{
    min-height: 0;
    display: inline-block;
}
.content #sf_admin_content .sf_admin_form form #sf_fieldset_none .sf_admin_form_row div .content .radio_list{
    list-style: none;
}
.content #sf_admin_content .sf_admin_form form #sf_fieldset_none .sf_admin_form_row div .content .radio_list li label{
    width: auto;
}
.content #sf_admin_content .sf_admin_form form .checkbox_list li label{
	width: 200px;
}